@import url('index.css');

.posts-container {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    margin: auto;

    & section {
        width: 100%;
        padding: 0 40px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;

        & header {
            display: flex;
            align-items: center;
            gap: 20px;

            & img {
                aspect-ratio: 1 / 1;
                width: 70px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        & main {
            display: flex;
            flex-direction: column;
            gap: 10px;

            & img {
                border-radius: 10px;
                aspect-ratio: auto;
                max-height: 400px;
            }

            & .flicking-camera {
                display: flex;
                gap: 10px;
            }
        }

        & footer {
            display: grid;
            grid-template-columns: 0.2fr 2.3fr;
            gap: 0px;
            grid-template-areas:
                "like form"
                "comments-options comments-options"
                "comments comments";

            & form {
                display: grid;
                grid-template-columns: 1.6fr 0.4fr;
                gap: 10px;
                grid-area: form;
            }

            & button.like {
                grid-area: like;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5px;
                border: none;
            }

            & button.comments-options {
                grid-area: comments-options;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 5px;
                color: #3D63DD;
                border: none;
            }

            & .comments {
                grid-area: comments;
                display: flex;
                flex-direction: column;
                gap: 5px;

                & aside {
                    border-top: 1px solid var(--light-gray);
                    background: linear-gradient(to top, var(--light-gray), transparent);
                    padding: 10px;
                    border-radius: 10px;
                    display: flex;
                    justify-content: space-between;

                    & div {
                        display: flex;
                        gap: 10px;

                        & p:first-child {
                            font-weight: 800;
                        }

                        & p:last-child {
                            font-weight: 200;
                            text-wrap: balance;
                        }
                    }

                    & small {
                        font-weight: 100;
                    }
                }
            }
        }
    }
}

@media (width <=760px) {
    .posts-container {
        max-width: 100%;
    }
}