@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --gray: #222;
  --light-gray: #444;
  --subtitle: #999;
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
a,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
  color: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  color: #eee;
}

#root {
  display: flex;
}

.container {
  margin: 20px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  background-color: #09090B;
  color: #eee;
}

p {
  margin: 0;
  padding: 0;
  text-wrap: pretty;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input,
textarea,
select {
  font-family: inherit;
  font-size: 100%;
  background: none;
  box-sizing: border-box;
  border: 1px solid var(--light-gray);
  padding: 10px 15px;
  border-radius: 5px;
  width: 100%;

  &[type='submit'] {
    background-color: white !important;
    color: black !important;
  }

  & :focus {
    outline: solid 1px white;
  }
}

button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 0.5em;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.container {
  background-color: var(--gray);
  width: 100%;
  border-radius: 10px;
  padding: 20px;
}

.subtitle {
  color: var(--subtitle)
}

::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--light-gray);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}