.profile-header {
    display: flex;
    gap: 20px;
    border: 1px solid var(--light-gray);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;

    & section.image-container {
        width: 150px;

        & img {
            aspect-ratio: 1 / 1;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    & section.info-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
}