@import url('index.css');

.navigation-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: calc(100dvh - 40px);
    min-width: 150px;
    width: auto;
    margin: 20px;
    background-color: var(--gray);
    padding: 20px 10px;
    border-radius: 10px;

    & .navigation-content {
        display: flex;
        flex-direction: column;
        gap: 30px;

        & .title {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;

            & img {
                width: 50px;
            }
        }

        & .navigation-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            & li {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                & a {
                    width: 90%;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }
        }
    }
}

@media (width <=760px) {
    .navigation-bar {
        min-width: auto;
    }

    .title h1 {
        display: none;
    }

    .navigation-list li a {
        width: 100%;
        justify-content: center;

        & p {
            display: none;
        }
    }
}